<page-title></page-title> 

<div class="container">
    <div class="row justify-content-center">
      <div class="col-3">
        <hr>
        <movie-list></movie-list>
      </div>
  
      <div class="col-3">
        <hr>
        <chores-list></chores-list>
      </div>
  
      <div class="col-3">
        <hr>
        <fav-photos></fav-photos>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-3">
        <hr>
        <gif-photos></gif-photos>
      </div>
      <div class="col-3">
        <hr>
        <fav-links></fav-links>
      </div>
      
    </div> 

  </div>
  
 
  
  

  